<div class='content'>
    <div>
        <div>
            <h2>{{listingDetails.Name}} </h2>

        </div>
        <br>
        <div>

            <h3> <label>Location:</label> {{listingDetails.Location}}</h3>
        </div>
        <div>

            <p> <label> Description: </label> {{listingDetails.Descriptor}}</p>
        </div>
        <br>
        <div>
            <P> <h3>{{listingDetails.PropertyInfo.price}} /day</h3> </P>
        </div>
        <br>
        <div>
            <label>Address:</label>
            <p> {{listingDetails.PropertyInfo.address.line1}} </p>
            <p> {{listingDetails.PropertyInfo.address.zipCode}} </p>
            <!--<p> {{listingDetails.PropertyInfo.address.zipCode}} </p>-->
        </div>
        <br>
        <div>
            <label>Property Type: </label>
            <h3>{{listingDetails.PropertyInfo.type}} </h3>
        </div>
        <div>
            <label>Room Type: </label>
            <h3>{{listingDetails.PropertyInfo.roomType}} </h3>
        </div>
    </div>
</div>