<html>
<body>
<div class='content'>
    <div>
        <input type="searchText" name="search" ng-model="city" placeholder=" Search..">
        <button ng-click="search()">Search</button>
    </div>

    <div class='content'>
        <div>
            <h1>Listings</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>House Type</th>
                </tr>
                <tr ng-repeat="listing in listings">

                    <td><a href="#/viewListing/{{listing.Id}}">{{listing.Name}}</a></td>
                    <td>{{listing.Location}}</td>
                    <td>{{listing.HouseType}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>
</body>
</html>